.navbar {
    height: 60px;
    background-color: #213448;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
  }
  .navbar_logo
  {
      height: 45px;
  }
  